.faq{
    background-color: rgba(255, 255, 255, 1);
}
.hr{
    background-color:rgba(204, 204, 204, 1);
    height: 2px;
    margin: 80px 0 0 0 ;
}
.faq__container{
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;
    gap: 50px;
}
.faq__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
.right__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    padding-bottom:25px;
}
.icon{
    width: 25px;
    height: 20px;
    border-radius: 50%;
}
hr{
    margin: 20px 0;
}
.faq__subtitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(103, 109, 131, 1);
}

@media screen and (max-width:1100px) {
    .right__box{
        gap: 350px;
    }
}
@media screen and (max-width:850px) {
    .right__box{
        gap: 200px;
    }
}
@media screen and (max-width:600px) {
    .faq__container{
        flex-direction: column;
    }
    .faq__title{
        font-size: 35px;
        text-align: center;
    }
    .faq__subtitle{
        font-size: 18px;
        line-height: 25px;
        max-width: 200px;
    }
    .right__box{
        gap: 10px;
    }
    p{
        font-size: 12px;
    }
}