nav{
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 100;
    box-shadow: 5px 5px 15px rgb(201, 198, 198);
}
.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.nav__right{
    display: flex;
    gap: 15px;
}
.nav__center{
    display: flex;
    gap: 24px;
}
.nav__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;   
    color: rgba(102, 102, 102, 1);
}
.nav__link:hover{
    color: rgb(28, 27, 27);
    transition: all 0.4s;
}
select{
    padding: 4px 8px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(107, 103, 103);
    border-radius: 12px;
    outline: none;
    color: rgb(49, 47, 47);
    cursor: pointer;
}
.nav__btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;   
    color: rgba(255, 255, 255, 1);
    background-color: rgba(51, 96, 255, 1);
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    cursor: pointer;
}
.nav__btn:hover{
    opacity: 80%;
}
.nav__btn:active{
    transform: scale(0.96);
    transition: all 0.3s;
}
.hum__menu{
    display: none;
    font-size: 25px;
    color: rgb(82, 81, 81);
    font-weight: bold;
}

@media screen and (max-width:780px) {
    .nav__container{
        padding: 10px 20px;
    }
    .nav__btn, .nav__center{
        display: none;
    }
    .hum__menu{
        display: block;
    }
}