@import "tailwindcss";

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  list-style: none;
  text-decoration: none;
  font-family: Unbounded;
  /* font-family: SF Pro Display; */
}
.container{
  max-width: 1340px;
  margin: 0 auto;
  padding: 2px;
  /* border:1px solid red; */
}


@media screen and (max-width:780px) {
  .nav__container{
      padding: 10px 20px;
  }
  .nav__btn, .nav__center{
      display: none;
  }
  .hum__menu{
      display: block;
  }
}

/* header */
header{
  padding-top: 100px;
  background-color: white;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}
.header__title{
  font-weight: 700;
  font-size: 60px;
  line-height: 62px;
  color: rgba(51, 117, 255, 1);
  max-width: 550px;
}
.header__text{
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(103, 109, 131, 1);
  max-width: 301px;
  padding: 32px 0;
}
.header__img{
  max-width: 100%;
}
.header__btn{
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(51, 117, 255, 1);
  padding: 13px 50px;
  border: none;
  border-radius: 62px;
}

@media screen and (max-width:1000px) {
  .header__title{
      font-size: 50px;
  }
  .header__btn{
      margin-top: 70px;
  }
}
@media screen and (max-width:700px) {
  .header__title{
      font-size: 42px;
      line-height: 50px;
  }
  .header__btn{
      margin-top: auto;
  }
}
@media screen and (max-width:600px) {
  .header__container{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding: 0px 30px;
  }
  .header__text, .header__title, .header__btn{
      margin: 0 auto;
      text-align: center;
      display: flex;
  }
}
@media screen and (max-width:470px) {
  .header__title{
      font-size: 30px;
      line-height: 35px;
  }
  .header__text{
      line-height: 25px;
      padding: 20px 0;
  }
}

/* hero */
.hero{
  background-color: white ;
}
.hero__container{
  padding: 50px 20px;
}
.boxs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 32px 0;
  background-color: rgb(255, 255, 255, 1);
}
.hero__box{
  max-width: 100%;
  width: 340px;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgb(246, 242, 242);
}
.hero__box:hover{
  box-shadow: 5px 5px 15px rgb(171, 167, 167);
  transition: all 0.3s;
}
.hero__title{
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: rgba(2, 12, 49, 1);
  padding: 32px 0;
}
.hero__img{
  padding: 0 0 20px 0;
}
.hero__subtitle{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;  
  color: rgba(2, 12, 49, 1);
  padding: 8px 0;
}
.hero__text{
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(103, 109, 131, 1);
}

@media screen and (max-width:900px) {
  .boxs{
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 30px;
  }
  .hero__title{
      text-align: center;
      font-size: 30px;
  }
}   
@media screen and (max-width:450px) {
  .hero__subtitle{
      font-size: 22px;
  }
  .hero__text{
      line-height: 22px;
  }
}

/* main */
.main{
  background-image: url(./components/images/main.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
}
.main__title{
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: rgba(250, 250, 250, 1);
  max-width: 558px;
  margin-left: 60%;
  padding: 60px 0 20px 0;
}
.main__text{
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(250, 250, 250, 1);
  max-width: 309px;
  margin-left: 60%;
  padding-bottom: 136px;
}
.main__btn{
  font-weight: 600;
  font-size: 18px;
  color: rgba(250, 250, 250, 1);
  background-color: rgba(51, 117, 255, 1);
  padding: 12px 50px;
  border: none;
  border-radius:62px;
  margin-left: 60%;
  margin-bottom: 100px;
  opacity: 70%;
  cursor: pointer;
}
.main__btn:hover{
  opacity: 100%;
  transition: all 0.4s;
}

@media screen and (max-width:900px) {
  .main__container{
      padding:0 30px;
  }
  .main__btn, .main__text, .main__title{
      margin-left: 45%;
  }
  .main__title{
      font-size: 35px;
  }
  .main__text{
      padding-bottom: 60px;
  }
  .main__btn{
      margin-bottom: 40px;
  }
}

@media screen and (max-width:600px) {
  .main__container{
      padding:40px;
  }
  .main__btn, .main__text, .main__title{
      text-align: center;
      margin: 0 auto;
  }
  .main__title{
      font-size: 22px;
      line-height: 35px;
      padding: 0;
  }
  .main__text{
      padding:20px 0 30px 0
  }
  .main__btn{
      display: flex;
  }
}

/* service */
.service{
  background-color: white;
}
.service__container{
  padding: 40px 20px;
}
.service__title{
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;  
  color: rgba(2, 12, 49, 1);
}
.service__texts{
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(102, 102, 102, 1);
  padding: 16px 0;
  max-width: 335px;
}
.service__list{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 30px 0;
}
.service__item{
  max-width: 100%;
  width: 370px;
  border-radius: 12px ;
  box-shadow: 5px 5px 10px rgb(242, 242, 242);
}
.item__title{
  font-weight: 700;
  font-size: 32px;  
  color: rgba(2, 12, 49, 1);
  padding: 15px 20px;
}
.title{
  padding-bottom: 50px;
}
.service__text{
  font-weight: 500;
  font-size: 16px;  
  color: rgba(5, 106, 199, 1);
  padding: 20px 20px;
}
.item__text{
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 16px;
  color: rgba(5, 106, 199, 1);
  padding: 2px 30px;
}
.service__img{
  text-align: end;
  padding: 105px 0px 40px 240px ;
}

@media screen and (max-width:1100px) {
  .service__list{
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 50px;
  }
}
@media screen and (max-width:760px) {
  .service__title{
      font-size: 35px;
      text-align: center ;
  }
  .service__texts{
      text-align: center;
      margin: 0 auto;
  }
}
@media screen and (max-width:470px) {
  .service__item{
      width: 300px;
  }
  .item__title{
      font-size: 25px;
      padding: 10px 20px;
  }
  .title{
      padding: 20px;
  }
  .service__text{
      padding: 10px 20px;
  }
  .item__text{
      padding: 0 20px;
  }
  .service__img{
      padding: 70px 0 20px 190px;
  }
}

/* /* wrapper */
.wrapper{
  border-radius: 12px;
  background: radial-gradient(58.39% 328.01% at 51.32% 69.21%, #3DA0FC 0%, rgba(2, 227, 214, 0.2) 100%);
}
.wrapper__container{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 40px 30px;
}
.wrapper__left{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  max-width: 100%;
  width: 456px;
  height: 384px;
  border-radius: 8px;
  padding: 25px;
}
.wrapper__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: rgba(36, 40, 37, 1);
  max-width: 328px;
  padding: 5px 0;
}
.inp{
  background-color: rgba(242, 242, 242, 1);
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(128, 128, 128, 1);    
  padding: 12px 20px ;
  width: 400px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 8px 0;
  max-width: 100%;
}
label{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}
span{
  display: flex;
  gap: 10px;
  padding: 20px 0;
}
.span__text{
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(36, 40, 37, 0.8);
}
.wrapper__btn{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(36, 40, 37, 1);
  border: none;
  border-radius: 8px;
  padding: 12px;
  width: 400px;
  max-width: 100%;
  cursor: pointer;
}
.wrapper__btn:hover{
  opacity:85%;
}
.wrapper__btn:active{
  transform: scale(0.97);
  transition: all 0.4s ease;
}
.wrapper__right{
  position: relative;
}
.wrapper__img{
  position: absolute;
  transform: translate(40%, -27%);
}
.wrapper__titles{
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;  
  color: rgba(250, 250, 250, 1);  
  max-width: 338px;
  margin-right: 300px;
}

@media screen and (max-width:1170px) {
  .wrapper__titles{
      margin-right: 150px;
  }
  .wrapper__img{
      transform: translate(20%, -27%);
      max-width: 90%;
  }
}
@media screen and (max-width:950px) {
  .wrapper__left{
      width: 350px;
  }
  .wrapper__title{
      font-size: 25px;
  }
}
@media screen and (max-width:800px) {
  .wrapper__titles{
      font-size: 20px;
      margin: 0;
  }
  .wrapper__img{
      transform: translate(20%, 15%);
  }
}
@media screen and (max-width:700px) {
  .wrapper__container{
      flex-direction: column-reverse;
      text-align: center;
  }
  .wrapper__titles{
      margin: 0 auto;
      max-width: 480px;
  }
  .wrapper__img{
      position: relative;
      margin: 0 auto;
      transform: translate(10%, 0%)
  }
  .wrapper__left{
      margin: 0 auto;
      width: 400px;
  }
  .wrapper__btn{
      padding: 10px 12px;
  }
}